{% extends "layout.html" %}

{% block title %}Verify Product{% endblock %}

{% block content %}
<div class="text-center mt-5">
    <h1 class="mb-4">Verify a Product</h1>

    <form method="POST" class="mx-auto" style="max-width: 400px;">
        <div class="mb-4">
            <input type="text" class="form-control" name="serial_number" placeholder="Serial Number" required>
        </div>
        <input type="submit" class="btn btn-success btn-lg" value="Verify">
    </form>
</div>
{% endblock %}
